.product {
  &__item {
    border: 1px solid $border-color;
    border-radius: 1.5rem;
    transition: all 0.2s $transition;
  }

  &__images {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
  }

  &__img {
    vertical-align: middle;
    transition: all 1.5s $transition;
  }

  &__item:hover &__img {
    transform: scale(1.1);
  }

  &__img.hover {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__banner {
    padding: 0.625rem 0.75rem 0.75rem;
    position: relative;
  }

  &__actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
    transition: all 0.2s $transition;
  }
  &__badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: $first-color;
    color: $body-color;
    padding: 0.25rem 0.625rem;
    border-radius: 2.5rem;
    font-size: $tiny-font-size;
  }
  &__content {
    padding: 0 1.25rem 1.125rem;
    position: relative;
  }
  &__category {
    color: $text-color-light;
    font-size: $smaller-font-size;
  }
  &__title {
    font-size: $normal-font-size;
    margin-block: 0.75rem 0.5rem;
  }

  &__rating {
    color: hsl(42, 100%, 50%);
    font-size: $smaller-font-size;
    margin-bottom: 0.75rem;
  }
  &__price .new__price {
    font-size: $large-font-size;
  }

  &__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.product__item:hover .product__img.hover,
.product__item:hover .product__actions,
.action__btn:hover::before,
.action__btn:hover::after {
  opacity: 1;
}

.action__btn:hover::before,
.action__btn:hover::after {
  transform: translateX(-50%) translateY(-0.5rem);
}

.action__btn:hover {
  background-color: $first-color;
  border-color: $first-color;
  color: $body-color;
}

.product__img.hover,
.product__actions,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default {
  opacity: 0;
}

.light-pink {
  background-color: hsl(341, 100%, 73%);
}
.light-green {
  background-color: hsl(155, 20%, 67%);
}

.light-orange {
  background-color: hsl(24, 100%, 73%);
}

.light-blue {
  background-color: hsl(202, 53%, 76%);
}

.action__btn {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: $first-color-alt;
  border: 1px solid $border-color;
  color: $text-color;
  font-size: $small-font-size;
  position: relative;
}

.action__btn::before,
.action__btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.071, 1.7, 0.77, 1.24);
}

.action__btn::before {
  content: "";
  top: -2px;
  border: 0.5rem solid transparent;
  border-top-color: $first-color;
}

.action__btn::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: $first-color;
  color: $body-color;
  font-size: $tiny-font-size;
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
  line-height: 2.58;
}
.cart__btn {
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
  cursor: pointer;
}
