$header-height: 4rem;

// Color variables
$first-color: hsl(345.5, 100%, 77.3%);
$first-color-alt: hsl(0, 71%, 89%);
$second-color: hsl(130, 79%, 91%);
$title-color: hsl(0, 0%, 13%);
$text-color: hsl(344, 9.2%, 32%);
$text-color-light: hsl(329.4, 33.8%, 27.3%);
$body-color: hsl(0, 0%, 100%);
$container-color: hsl(0, 0%, 93%);
$border-color: hsl(22.1, 65.5%, 94.3%);
$border-color-alt: hsl(309, 14%, 90%);

// Font variables
$body-font: "Lato", sans-serif;
$second-font: "Spartan", sans-serif;
$big-font-size: 3.5rem;
$h1-font-size: 2.75rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.375rem;
$large-font-size: 1.125rem;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.75rem;
$tiny-font-size: 0.6875rem;

// font-weight variables
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// transition variables
$transition: cubic-bezier(0, 0, 0.05, 1);

// responsive variables
